<section id="sidebar">

  <section id="identity">
    <a class="ribbon" href="{{ site.accounts.github }}"><img src="/img/fork.png" alt="Fork me on GitHub" /></a>
    <a href="/"><img class="avatar" src="/img/avatar.jpg" alt="subosito avatar"></a>
    <div class="author"><a rel="author" href="/about">{{ site.author }}</a></div>
  </section>

  <section id="attributes">
    <a href="{{ site.accounts.twitter }}" title="Twitter"><img src="/img/icons/twitter.png" alt="Twitter"></a>
    <a href="{{ site.accounts.google }}" title="Google+" rel="author"><img src="/img/icons/googleplus.png" alt="Google+"></a>
    <a href="{{ site.accounts.pinboard }}" title="Pinboard"><img src="/img/icons/pinboard.png" alt="Pinboard"></a>
  </section>
</section>
