<section id="sidebar">
  <a class="ribbon" href="{{ site.accounts.github }}"><img src="/img/fork.png" alt="Fork me on GitHub" /></a>
  <img class="avatar" src="/img/avatar.png" alt="subosito avatar">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="{{ site.accounts.twitter }}" rel="me" target="_blank">Twitter</a></li>
    <li><a href="{{ site.accounts.github }}" rel="me" target="_blank">Github</a></li>
    <li><a href="{{ site.accounts.google }}" rel="me" target="_blank">Google Plus</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</section>
