@import "compass/utilities";
@import "compass/css3";

@import "_normalize";
@import "_grid";
@import "_railscasts";

/* grid */
$columns: 12;
$column-width: 60;
$gutter-width: 20;

/* themes */
$default-box-shadow-color: #bbb;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url('http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff') format('woff');
}

.current {
  font-weight: bold;
}

.right {
  float: right;
}

.small {
  font-size: smaller;
}

::selection {
  background: #ffffcc;
}

::-moz-selection {
  background: #ffffcc;
}

h1, h2, h3 {
  font-family: Lato, Helvetica, sans-serif;
}

body {
  background: #DFE1E3 url('/img/pattern.png') repeat;
  font-family: Lato, Helvetica, sans-serif;
}

a {
  @include link-colors(#D92525, #FF8000, #FF2B2B, #280606, #280606);
}

pre {
  white-space: pre;
  word-wrap: normal;
}

#container {
  width: 960px;
  margin: 20px auto;
  background-color: #fff;

  #content {
    @include column(8);
    @include single-box-shadow;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    margin-bottom: 20px;

    h1, h2 {
      text-align: center;

      a {
        text-decoration: none;
      }
    }

    img {

      &.left {
        float: left;
        margin-right: 20px;
      }

      &.right {
        margin-left: 20px;
      }

      &.center {
        display: block;
        margin: 0px auto;
        text-align: center;
      }

    }

    hr.separator {
      margin: 20px auto;
      width: 80%;
      border: 0;
      border-top: solid 1px #ccc;
      display: block;
    }
  }

  #sidebar {
    @include column(3);
    position: fixed;

    #identity {
      @include column(3);
      @include single-box-shadow;
      background-color: #fff;
      border-radius: 4px;

      .avatar {
        display: block;
        margin: 20px auto 10px auto;
        border: solid 4px #ebebeb;
      }

      .ribbon {
        opacity: 0.9;
        padding-left: 72px;
        position: absolute;
        top: 0px;
      }

      .author {
        text-align: center;
        margin-bottom: 20px;

        a {
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          color: #070707;
          border-bottom: solid 1px #bbb;
        }
      }

      ul.nav {
        list-style: none;
        margin: 0px;
        padding: 0px 0px;
        padding-bottom: 20px;
        padding-left: 20px;

        li {
          line-height: 2;
          text-transform: uppercase;
          font-size: smaller;
        }
      }
    }

    #attributes {
      @include column(3);
      margin-top: 20px;
      padding-bottom: 20px;
      text-align: center;

      a {
        padding: 10px;
      }
    }

    #license {
      position: fixed;
      bottom: 20px;
      margin-left: 140px;

      a {
        img {
          opacity: 0.2;
        }

        &:hover img {
          opacity: 0.8;
        }
      }
    }
  }
}
