@import "_normalize";
@import "_railscasts";
@import "bourbon/bourbon";

$gw-column: 60px;
$gw-gutter: 20px;
$initial-size: 16px;

@include font-face('Source Sans Pro', '/fonts/source-sans-pro');

@mixin background {
  background: #DFE1E3 url('/img/pattern.png') repeat;
}

.current {
  font-weight: bold;
}

.right {
  float: right;
}

.small {
  font-size: smaller;
}

::selection {
  background: #ffffcc;
}

::-moz-selection {
  background: #ffffcc;
}

::-webkit-scrollbar {
  @include background;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

h1 {
  font-size: floor(golden-ratio($initial-size, 2));
}

h1, h2, h3, h4, h5 {
  color: #222;
}

body {
  font-family: "Source Sans Pro", $helvetica;
  font-size: golden-ratio($initial-size, 0);
  color: #444;
  @include background;
}

a {
  color: #D92525;

  &:hover {
    color: #FF8000;
  }

  &:active {
    color: #FF2B2B;
  }

  &:visited {
    color: #280606;
  }

  &:focus {
    color: #280606;
  }
}

pre {
  white-space: pre;
  word-wrap: normal;
}

pre, code, kbd, samp {
  font-family: $monospace;
  font-size: 14px;
}

#container {
  width: grid-width(12);
  margin: 20px auto;
  background-color: #fff;

  #content {
    width: grid-width(8);
    margin-left: $gw-gutter;
    float: right;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;

    h1, h2 {
      a {
        text-decoration: none;
      }
    }

    img {

      &.left {
        float: left;
        margin-right: 20px;
      }

      &.right {
        margin-left: 20px;
      }

      &.center {
        display: block;
        margin: 0px auto;
        text-align: center;
      }

    }

    hr.separator {
      margin: 20px auto;
      width: 80%;
      border: 0;
      border-top: solid 1px #ccc;
      display: block;
    }
  }

  #sidebar {
    width: grid-width(3);
    margin-left: $gw-gutter;
    background-color: #fff;
    float: left;

    #identity {
      background-color: #fff;

      .avatar {
        display: block;
        margin: 20px auto 10px auto;
        border: solid 4px #ebebeb;
      }

      .ribbon {
        opacity: 0.9;
        padding-left: 72px;
        position: absolute;
        top: 18px;
      }

      .author {
        text-align: center;
        margin-bottom: 20px;

        a {
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          color: #070707;
          border-bottom: solid 1px #bbb;
        }
      }

      ul.nav {
        list-style: none;
        margin: 0px;
        padding: 0px 0px;
        padding-bottom: 20px;
        padding-left: 20px;

        li {
          line-height: 2;
          text-transform: uppercase;
          font-size: smaller;
        }
      }
    }

    #attributes {
      width: grid-width(3);
      margin-top: 20px;
      padding-bottom: 20px;
      text-align: center;

      a {
        padding: 10px;
      }
    }

    #license {
      position: fixed;
      bottom: 20px;
      margin-left: 140px;

      a {
        img {
          opacity: 0.2;
        }

        &:hover img {
          opacity: 0.8;
        }
      }
    }
  }
}
