@charset "utf-8";

@import "normalize";
@import "recipes";
@import "_github";
@import "susy";

// fonts
@include icon-font-face-fontawesome;
@include google-webfont('Source Sans Pro', '400');
@include google-webfont('PT Sans', '400');
@include google-webfont('Lato', '400');

// colors
$background-color: #fff;
$selection-color: #ffffcc;
$text-color: #333;
$font-family: 'PT Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
$header-font-family: 'Source Sans Pro', $font-family;
$source-font-family: Inconsolata, Monospace, "Courier New";

// susy
$total-columns: 8;

// links
@import "compass/typography/links/link-colors";

// typography
@import "compass/typography";
//$base-font-size: 18px;
//$base-line-height: 30px;
@include establish-baseline;

.icon {
    @include icon-font($font: 'fontawesome');
    font-size: 6em;
}

.current {
    font-weight: bold;
}

.right {
    float: right;
}

.small {
    font-size: smaller;
}

// TODO: prefix-less
::selection {
    background: $selection-color;
}

::-moz-selection {
    background: $selection-color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

body {
    color: $text-color;
    background: #fff;
    font-family: $font-family;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font-family;
}

a {
    @include link-colors(#D92525, #FF8000, #FF2B2B, #280606, #280606);
}

pre {
    white-space: pre;
    word-wrap: normal;
}

code {
    font-family: $source-font-family;
    font-size: 16px;
}

#wrapper {

    @include container;

    #identity {
        border-bottom: 1px solid #EEEEEE;
        height: 60px;

        a {
            text-decoration: none;
        }

        header {
            @include span-columns(4);
            margin-top: 1px;

            h1 {
                font-family: "Lato", $header-font-family;
                font-weight: 400;
                font-size: 18px;
            }
        }

        nav {
            @include span-columns(4 omega);
            text-align: right;
        }
    }

    #page {
        @include span-columns(8);

        #post {
            header {
                h1 {
                    text-align: center;
                    a {
                        text-decoration: none;
                    }
                }
            }

            .metadata {
                text-align: center;
                color: #a7a7a7;
            }

            hr {
                width: 80%;
                border: none;
                border-bottom: solid 1px #EEE;
                margin-bottom: 10px;
            }
        }
    }


}

