<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta property="og:image" content="{{ site.url }}/assets/img/avatar.png">
    <meta property="og:title" content="{{ page.title}}">
    <meta property="og:url" content="{{ page.url}}">
    <meta property="og:site_name" content="{{ site.author }} Blog">
    <meta property="og:type" content="blog">
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}">
    {% endif %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.feed }}">
    <link rel="author" href="mailto:{{ site.email"}}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/screen.css" media="all" type="text/css">
  </head>
  <body>
    <section class="stripe">
      <div class="wrapper">
        <header class="brand">
          <h1><a href="/"><span>@</span>{{ site.name | upcase }}</a></h1>
        </header>
        <nav class="social">
          <ul>
            <li class="github">
              <a href="{{ site.accounts.github }}">
                <i class="icon-github-sign"></i>
              </a>
            </li>
            <li class="twitter">
              <a href="{{ site.accounts.twitter }}">
                <i class="icon-twitter-sign"></i>
              </a>
            </li>
            <li class="google">
              <a href="{{ site.accounts.google }}" rel="author">
                <i class="icon-google-plus-sign"></i>
              </a>
            </li>
            <li class="linkedin">
              <a href="{{ site.accounts.linkedin }}">
                <i class="icon-linkedin-sign"></i>
              </a>
            </li>
            <li class="about">
              <a href="{{ site.accounts.aboutme }}">
                <i class="icon-check-sign"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <section class="contents">
      {{ content }}
    </section>

    {% include analytics.html %}
  </body>
</html>
