<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.data.info.author }}">
    <title>{{ page.title }}</title>
    <meta property="og:image" content="{{ site.data.info.url }}/assets/img/avatar.png">
    <meta property="og:title" content="{{ page.data.info.title}}">
    <meta property="og:url" content="{{ site.data.info.url }}{{ page.url | replace: "index.html", "" }}">
    <meta property="og:site_name" content="{{ site.data.info.name }}">
    <meta property="og:type" content="blog">
    {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt }}">{% endif %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.data.info.feed }}">
    <link rel="author" href="mailto:{{ site.data.info.email }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Libre+Baskerville:400,700/Merriweather:400">
    <link rel="stylesheet" href="/assets/css/theme.css" media="all" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      {{ content }}
    </div>

    {% include analytics.html %}
  </body>
</html>
