<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="{{ site.accountss.openid }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="{{ site.feed }}">
    <link rel="stylesheet" href="/css/style.css" media="all" type="text/css">
  </head>
  <body>
    <div id="container">
      <div id="content">{{ content }}</div>
      {% include sidebar.html %}
      {% include footer.html %}
    </div>
    <div class="clear">&nbsp;</div>
  </body>
  {% include getclicky.html %}
</html>
