<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="{{ site.author }}">
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="alternate" type="application/atom+xml" href="{{ site.feed }}">
        <link rel="author" href="mailto:{{ site.email"}}">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/style.css" media="all" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <section id="identity">
                <header class="brand">
                    <h1><a href="/">{{ site.name | upcase }}</a></h1>
                </header>
                <nav>
                    <ul>
                        <li><a href="/about">ABOUT</a></li>
                    </ul>
                </nav>
            </section>

            <section id="page">
                {{ content }}
            </section>
        </div>

        {% unless site.server %}
            {% include analytics.html %}
        {% endunless %}
    </body>
</html>
