---
layout: default
---
<article id="post">
  <header class="header">
    <h1>{{ page.title }}</h1>
  </header>

  <section class="content">
    {{ content }}
  </section>

  <hr>

  <section class="pagination pure-g">
    {% if page.previous %}
    <div>
      <span>&laquo;</span> <a href="{{ page.previous.url }}" class="prev">{{ page.previous.title | truncate:36 }}</a>
    </div>
    {% endif %}

    {% if page.next %}
    <div>
      <span>&raquo;</span> <a href="{{ page.next.url }}" class="next">{{ page.next.title | truncate:36 }}</a>
    </div>
    {% endif %}
  </section>

  <hr>

  <footer id="disqus_thread">
    {% include disqus.html %}
  </footer>
</article>

